# Python

Name: Shivam Raj

Roll no: BTECH/15302/18

Branch: CSE

Semester: 6th


## Data Structures in Python
    - Numbers - 
    1: int (integers)          
    2: float (floating point real values)
    3: complex (complex numbers)
    - Boolean
    - List
    - Tuple
    - Dictionary
    - Sets

## Numbers

In [1]:
a=100

In [2]:
type(a)

int

In [3]:
b=25.6

In [4]:
type(b)

float

In [5]:
c=8+4j

In [6]:
type(c)

complex

In [7]:
x=78

In [8]:
y=22

In [9]:
print(x+y)

100

In [10]:
print(x-y)

56

## Strings

In [11]:
lab="Machine Learning"

In [12]:
faculty="Smita Pallavi"

In [13]:
print(lab)

Machine Learning

In [14]:
print(faculty)

Smita Pallavi

In [16]:
print(lab + faculty)

Machine LearningSmita Pallavi

In [17]:
print(lab +" by "+ faculty)

Machine Learning by Smita Pallavi

In [20]:
print(faculty + " ma'am: a very good instructor")

Smita Pallavi ma'am: a very good instructor

In [25]:
print(type(lab))

<class 'str'>

In [26]:
print(type(faculty))

<class 'str'>

In [27]:
a="   Subhash Pandey: Sophisticated and best teacher   "

In [28]:
print(a)

   Subhash Pandey: Sophisticated and best teacher

In [29]:
print(a.strip())

Subhash Pandey: Sophisticated and best teacher

In [31]:
str="ShivamRaj"

In [32]:
str.replace('a','X')

'ShivXmRXj'

In [33]:
str.count('h')

1

## List 
A list is a data structure that holds an ordered collection of items i.e. you can store a sequence of items in a list.

The list of items should be enclosed in square brackets so that Python understands that you are specifying a list. Once you have created a list, you can add, remove or search for items in the list. Since we can add and remove items, we say that a list is a mutable data type i.e. this type can be altered.

### Basics

Lists are heterogenous

In [34]:
l=[1,2,3,4,5,"Shivam","Smita","Subhash"]

In [36]:
type(l)

list

In [37]:
l

[1, 2, 3, 4, 5, 'Shivam', 'Smita', 'Subhash']

In [38]:
l[1]

2

In [40]:
len(l)    #length of strings

8

In [41]:
l+l  #concatenation

[1,
 2,
 3,
 4,
 5,
 'Shivam',
 'Smita',
 'Subhash',
 1,
 2,
 3,
 4,
 5,
 'Shivam',
 'Smita',
 'Subhash']

In [42]:
l*3     #repetition

[1,
 2,
 3,
 4,
 5,
 'Shivam',
 'Smita',
 'Subhash',
 1,
 2,
 3,
 4,
 5,
 'Shivam',
 'Smita',
 'Subhash',
 1,
 2,
 3,
 4,
 5,
 'Shivam',
 'Smita',
 'Subhash']

In [44]:
"Shivam" in l   #memembership

True

In [46]:
"ikr" in l

False

In [47]:
for i in l:           #iteration
    print(i)

1
2
3
4
5
Shivam
Smita
Subhash

### Indexing and list slicing

In [48]:
l2 = ['r','e','g','r','e','s','s','i','o','n']

In [49]:
l2[1]

'e'

In [50]:
l2[-1]

'n'

In [51]:
l2[-1]

'n'

In [52]:
l2[::]

['r', 'e', 'g', 'r', 'e', 's', 's', 'i', 'o', 'n']

In [53]:
l2[::-1]

['n', 'o', 'i', 's', 's', 'e', 'r', 'g', 'e', 'r']

### Updating the list

In [54]:
names =['Shivam','Smita','Subhash','Ayan']

In [55]:
names.insert(2 , 'K.Lal')         #inserting at index

In [56]:
names

['Shivam', 'Smita', 'K.Lal', 'Subhash', 'Ayan']

In [57]:
names.append("Ajit")     #inserting from end

In [58]:
names

['Shivam', 'Smita', 'K.Lal', 'Subhash', 'Ayan', 'Ajit']

In [59]:
names.pop()     #delete from last

'Ajit'

In [60]:
names.remove("Ayan")

In [61]:
names

['Shivam', 'Smita', 'K.Lal', 'Subhash']

In [62]:
del names[2]

In [63]:
names

['Shivam', 'Smita', 'Subhash']

### Sorting and Reversing
sort and sorted

reverse and reversed

In [64]:
n=[1, 35, 433,78, 5, 153, 6, 2]

In [65]:
n.sort()

In [66]:
n

[1, 2, 5, 6, 35, 78, 153, 433]

In [67]:
n=[21, 3, 43, 5, 13, 6, 2]

In [68]:
sorted(n)

[2, 3, 5, 6, 13, 21, 43]

In [69]:
for i in reversed(n):
    print(i)

2
6
13
5
43
3
21

In [70]:
n.reverse()

In [71]:
n

[2, 6, 13, 5, 43, 3, 21]

## Tuples
Tuples are used to hold together multiple objects. Think of them as similar to lists, but without the extensive functionality that the list class gives you. One major feature of tuples is that they are immutable like strings i.e. you cannot modify tuples.

Tuples are defined by specifying items separated by commas within an optional pair of parentheses.

Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values i.e. the tuple of values used will not change.

In [73]:
t = (4,8,2, 3, 4, 5,9)

In [74]:
type(t)

tuple

In [75]:
t

(4, 8, 2, 3, 4, 5, 9)

In [76]:
a = (9, 1)

In [77]:
b,c = a

In [78]:
c

1

In [79]:
b

9

In [80]:
def maths(a,b):                       
    return(a+b, a-b)             #returning multiple values using tuples
maths(2,3)

(5, -1)

## Dictionaries 
A dictionary is like an address-book where you can find the address or contact details of a person by knowing only his/her name i.e. we associate keys (name) with values (details). Note that the key must be unique just like you cannot find out the correct information if you have two persons with the exact same name.

Remember that key-value pairs in a dictionary are not ordered in any manner.

In [86]:
a = {
    "Name": ["Shivam","Smita","Subhash"],
    "Course": "Machine Learning",
    "Branch": "CSE",
    "Class Duration": 60,
    "Details" : {
        "Theory": "Subhash Pandey",
        "Practical": "Smita Pallavi"
    }
}

In [87]:
a

{'Name': ['Shivam', 'Smita', 'Subhash'],
 'Course': 'Machine Learning',
 'Branch': 'CSE',
 'Class Duration': 60,
 'Details': {'Theory': 'Subhash Pandey', 'Practical': 'Smita Pallavi'}}

In [88]:
type(a)

dict

# Some important dict methods

get()

items()

keys()

values()

clear()

In [89]:
for key in a:
    print(key)

Name
Course
Branch
Class Duration
Details

In [90]:
for item in a.items():
    print(item)

('Name', ['Shivam', 'Smita', 'Subhash'])
('Course', 'Machine Learning')
('Branch', 'CSE')
('Class Duration', 60)
('Details', {'Theory': 'Subhash Pandey', 'Practical': 'Smita Pallavi'})

In [91]:
for key, value in a.items():
    print(key,"-->",value)

Name --> ['Shivam', 'Smita', 'Subhash']
Course --> Machine Learning
Branch --> CSE
Class Duration --> 60
Details --> {'Theory': 'Subhash Pandey', 'Practical': 'Smita Pallavi'}

In [92]:
for key in a.keys():
    print(key)

Name
Course
Branch
Class Duration
Details

In [93]:
for val in a.values():
    print(val)

['Shivam', 'Smita', 'Subhash']
Machine Learning
CSE
60
{'Theory': 'Subhash Pandey', 'Practical': 'Smita Pallavi'}

In [94]:
a.get("Name")

['Shivam', 'Smita', 'Subhash']

In [95]:
a.get("Branch")

'CSE'

In [96]:
a.clear()

In [97]:
a

{}

## Sets
Sets are unordered collections of simple objects. These are used when the existence of an object in a collection is more important than the order or how many times it occurs.

Using sets, you can test for membership, whether it is a subset of another set, find the intersection between two sets, and so on.

In [100]:
s1 = {1, 2, 6, 4, 5, 6}

In [101]:
s2 = {4, 5, 6, 8, 9}

In [102]:
s1.intersection(s2)

{4, 5, 6}

In [103]:
s1.union(s2)

{1, 2, 4, 5, 6, 8, 9}

In [104]:
s1-s2

{1, 2}

In [105]:
for i in s1:
    print(i)

1
2
4
5
6

In [106]:
s={1,2,3,4,8,4,0,1,5,4,5,2,3,6}

In [107]:
s

{0, 1, 2, 3, 4, 5, 6, 8}

In [108]:
len(s)

8

# List Comprehension

In [109]:
a = [ [ i*j for j in range(1, 11) ] for i in range(1, 11)]
print(a)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [3, 6, 9, 12, 15, 18, 21, 24, 27, 30], [4, 8, 12, 16, 20, 24, 28, 32, 36, 40], [5, 10, 15, 20, 25, 30, 35, 40, 45, 50], [6, 12, 18, 24, 30, 36, 42, 48, 54, 60], [7, 14, 21, 28, 35, 42, 49, 56, 63, 70], [8, 16, 24, 32, 40, 48, 56, 64, 72, 80], [9, 18, 27, 36, 45, 54, 63, 72, 81, 90], [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [110]:
a = []
for i in range(1, 11):
    b = []
    for j in range(1, 11):
        b.append(j)
    a.append(i)

In [111]:
a = { i:i**2 for i in range(1, 11) }

In [112]:
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [113]:
a = { i for i in range(1, 11) }

In [114]:
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}