# Python


## Data Structures in Python
    - Numbers - 
    1: int (integers)          
    2: float (floating point real values)
    3: complex (complex numbers)
    - Boolean
    - List
    - Tuple
    - Dictionary
    - Sets

## Numbers

In [1]:
a=100

In [2]:
type(a)

int

In [3]:
b=25.6

In [4]:
type(b)

float

In [5]:
c=8+4j

In [6]:
type(c)

complex

In [7]:
x=78

In [8]:
y=22

In [9]:
print(x+y)

100

In [10]:
print(x-y)

56

## Strings

In [11]:
lab="Machine Learning"

In [12]:
faculty="Smita Pallavi"

In [13]:
print(lab)

Machine Learning

In [14]:
print(faculty)

Smita Pallavi

In [16]:
print(lab + faculty)

Machine LearningSmita Pallavi

In [17]:
print(lab +" by "+ faculty)

Machine Learning by Smita Pallavi

In [20]:
print(faculty + " ma'am: a very good instructor")

Smita Pallavi ma'am: a very good instructor

In [25]:
print(type(lab))

<class 'str'>

In [26]:
print(type(faculty))

<class 'str'>

In [27]:
a="   Subhash Pandey: Sophisticated and best teacher   "

In [28]:
print(a)

   Subhash Pandey: Sophisticated and best teacher

In [29]:
print(a.strip())

Subhash Pandey: Sophisticated and best teacher

In [31]:
str="ShivamRaj"

In [32]:
str.replace('a','X')

'ShivXmRXj'

In [33]:
str.count('h')

1

## List 
A list is a data structure that holds an ordered collection of items i.e. you can store a sequence of items in a list.

The list of items should be enclosed in square brackets so that Python understands that you are specifying a list. Once you have created a list, you can add, remove or search for items in the list. Since we can add and remove items, we say that a list is a mutable data type i.e. this type can be altered.

### Basics

Lists are heterogenous

In [34]:
l=[1,2,3,4,5,"Shivam","Smita","Subhash"]

In [36]:
type(l)

list

In [37]:
l

[1, 2, 3, 4, 5, 'Shivam', 'Smita', 'Subhash']

In [38]:
l[1]

2

In [40]:
len(l)    #length of strings

8

In [41]:
l+l  #concatenation

[1,
 2,
 3,
 4,
 5,
 'Shivam',
 'Smita',
 'Subhash',
 1,
 2,
 3,
 4,
 5,
 'Shivam',
 'Smita',
 'Subhash']

In [42]:
l*3     #repetition

[1,
 2,
 3,
 4,
 5,
 'Shivam',
 'Smita',
 'Subhash',
 1,
 2,
 3,
 4,
 5,
 'Shivam',
 'Smita',
 'Subhash',
 1,
 2,
 3,
 4,
 5,
 'Shivam',
 'Smita',
 'Subhash']

In [44]:
"Shivam" in l   #memembership

True

In [46]:
"ikr" in l

False

In [47]:
for i in l:           #iteration
    print(i)

1
2
3
4
5
Shivam
Smita
Subhash

### Indexing and list slicing

In [48]:
l2 = ['r','e','g','r','e','s','s','i','o','n']

In [49]:
l2[1]

'e'

In [50]:
l2[-1]

'n'

In [51]:
l2[-1]

'n'

In [52]:
l2[::]

['r', 'e', 'g', 'r', 'e', 's', 's', 'i', 'o', 'n']

In [53]:
l2[::-1]

['n', 'o', 'i', 's', 's', 'e', 'r', 'g', 'e', 'r']

### Updating the list

In [54]:
names =['Shivam','Smita','Subhash','Ayan']

In [55]:
names.insert(2 , 'K.Lal')         #inserting at index

In [56]:
names

['Shivam', 'Smita', 'K.Lal', 'Subhash', 'Ayan']

In [57]:
names.append("Ajit")     #inserting from end

In [58]:
names

['Shivam', 'Smita', 'K.Lal', 'Subhash', 'Ayan', 'Ajit']

In [59]:
names.pop()     #delete from last

'Ajit'

In [60]:
names.remove("Ayan")

In [61]:
names

['Shivam', 'Smita', 'K.Lal', 'Subhash']

In [62]:
del names[2]

In [63]:
names

['Shivam', 'Smita', 'Subhash']

### Sorting and Reversing
sort and sorted

reverse and reversed

In [64]:
n=[1, 35, 433,78, 5, 153, 6, 2]

In [65]:
n.sort()

In [66]:
n

[1, 2, 5, 6, 35, 78, 153, 433]

In [67]:
n=[21, 3, 43, 5, 13, 6, 2]

In [68]:
sorted(n)

[2, 3, 5, 6, 13, 21, 43]

In [69]:
for i in reversed(n):
    print(i)

2
6
13
5
43
3
21

## Tuples

In [120]:
tup = (1, 2, 3, 4, 5)

In [121]:
type(tup)

tuple

In [122]:
tup

(1, 2, 3, 4, 5)

In [123]:
a = (90, 100)

In [124]:
a1, a2 = a

In [125]:
a1

90

In [126]:
a2

100

In [137]:
def AirthmeticOperations(a,b):                       
    return(a+b, a-b, a*b, a/b, a%b, a//b, a**b)             #returning multiple values using tuples
AirthmeticOperations(10,3)

(13, 7, 30, 3.3333333333333335, 1, 3, 1000)

## Dictionaries

In [143]:
a = {
    "Name": "Shivangi",
    "Roll no.": 18,
    "Branch": "CSE",
    "Marks": 90,
    "Subjects" : ["Machine Learning", "Graph Theory", "RES", "Compiler Design"],
}

In [144]:
a

{'Name': 'Shivangi',
 'Roll no.': 18,
 'Branch': 'CSE',
 'Marks': 90,
 'Subjects': ['Machine Learning', 'Graph Theory', 'RES', 'Compiler Design']}

In [145]:
type(a)

dict

In [146]:
for key in a:
    print(key)

Name
Roll no.
Branch
Marks
Subjects

In [147]:
for item in a.items():
    print(item)

('Name', 'Shivangi')
('Roll no.', 18)
('Branch', 'CSE')
('Marks', 90)
('Subjects', ['Machine Learning', 'Graph Theory', 'RES', 'Compiler Design'])

In [149]:
for key, value in a.items():
    print(key,"=>",value)

Name => Shivangi
Roll no. => 18
Branch => CSE
Marks => 90
Subjects => ['Machine Learning', 'Graph Theory', 'RES', 'Compiler Design']

In [150]:
for key in a.keys():
    print(key)

Name
Roll no.
Branch
Marks
Subjects

In [151]:
for val in a.values():
    print(val)

Shivangi
18
CSE
90
['Machine Learning', 'Graph Theory', 'RES', 'Compiler Design']

In [152]:
a.get("Name")

'Shivangi'

In [153]:
a.get("Branch")

'CSE'

In [154]:
a.clear()

In [155]:
a

{}

## Sets

In [157]:
s1 = {1, 2, 3, 4, 5, 6}

In [158]:
s2 = {4, 5, 6, 8, 9}

In [160]:
s1.intersection(s2)

{4, 5, 6}

In [161]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 8, 9}

In [162]:
s1-s2

{1, 2, 3}

In [163]:
for i in s1:
    print(i)

1
2
3
4
5
6

In [165]:
s={1,2,3,4,5,4,5,2,3,6}

In [166]:
s

{1, 2, 3, 4, 5, 6}

In [167]:
len(s)

6